---
import "../styles/mutual.css";
import Header2 from "../components/Header2.astro";
import Footer from "../components/Footer.astro";
---
<Header2/>
<!--<video id="myVideo" autoplay>
    <source src="/arthurvideo.mp4" type="video/mp4">
</video>-->
<h2>Something about myself</h2>
<p>
    My name is Arthur Aizikovich and I'm a           Copenhagen-based photographer, originally from Latvia.
    I experiment with different types of photography such as events, portraits, commercial content, and street-photography. 
    One aspect of my work that brings me great joy is event photography. Whether it's a grand celebration, a corporate gathering, or a cultural festival, I believe that every event holds its own magic waiting to be captured. I am dedicated to ensuring that the energy, emotions, and the spirit of the occasion are encapsulated through my lens.
</p>
<p>
    From candid shots of laughter and joy to capturing the intricate details that make an event truly special, I aim to provide a comprehensive visual narrative that will transport you back to those memorable moments.
    Beyond events, my love for portrait photography allows me to delve into the individuality of each person I encounter. Every face carries a unique story, and I consider it a privilege to capture the essence and personality of my subjects. I strive to create images that reveal the authentic beauty, emotions, and depth of character of those I photograph. 
</p>
<p>
    My work as a photographer is driven by a deep appreciation for the beauty of life's moments and the individuals who inhabit them. I consider it a privilege to capture these fleeting instances and transform them into visual memories. Whether it's an event or a personal portrait, I am dedicated to creating images that encapsulate the essence of the human experience.
    Thank you for allowing me to share my passion with you, and I look forward to capturing your own special moments in the near future.
</p>

<Footer/>

<style>
    p {
        max-width: 900px;
        padding-bottom: 70px;
        font-family: "Tekst";
        margin: auto;
        font-size: var(--font-xxs);
        line-height: 30px;
    }

    h2 {
        text-decoration: underline;
        font-family: "Tekst";
        text-align: center;
        padding-bottom: 70px;
        font-size: var(--font-sm);
    }

    #myVideo {
        display: block;
        margin: auto;
        width: 100%;
    }
</style>