---
import "../styles/mutual.css";
import Form from "../components/Form.astro";
import Mobilmenu from "../components/Mobilmenu.astro";
import Footer from "../components/Footer.astro";
---
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="If you like my work, you can contact me through this formular or my social media"/>
        <link rel="icon" type="image/x-icon" href="/logo.svg" />
        <title>Contact</title>
      </head>
    <body>
        <Mobilmenu/>
        <section class="grid_1-1">
            <img class="arthur" src="/outside-2.webp" alt="Portrait of Arthur">
            <div>
                <div class="contact_tekst">
                    <p>I understand that each client has unique preferences and expectations, and I'm committed to creating memorable and captivating images that exceed your aspirations. Once I receive your message, I will respond to discuss further details and answer any questions you may have.</p>
                    <p>Alternatively, you can reach out to me directly through the following channels</p>
                    <div class="icons">
                        <a href="https://www.facebook.com/aaizikovichmedia"><img class="icon" src="/facebook.svg" alt="Facebook icon"></a>
                        <a href="https://www.instagram.com/aaizikovich/"><img class="icon" src="/instagram.svg" alt="instagram icon"></a>
                    </div>
                </div>
                <Form/>
            </div>
        </section>
        <Footer/>
    </body>
    
    <style>
    @media (min-width: 900px) {
        .grid_1-1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    
        .arthur {
            width: 500px;
            margin: auto;
        }
    }
    
    
    
    @media (max-width: 899px) {
        .arthur {
            width: 400px;
            margin-right: auto;
            margin-left: auto;
            display: block;
        }

    }
    
    p {
        margin: auto;
        max-width: 300px;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: "Tekst", sans-serif;
    }
    
    .contact_tekst {
        margin: auto;
        max-width: 350px;
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 40px;
        margin-top: 90px;
    }
    
    .icon {
        width: 30px;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    </style>
</html>