---
import "../styles/mutual.css";
import "../styles/contact.css";
import Form from "../components/Form.astro";
import Header2 from "../components/Header2.astro";
---
<Header2/>
<section class="grid_1-1">
    <div>
        <h2>Contact me</h2>
        <img src="public/portrættest.jpeg" alt="Portrait of Arthur">
        <p></p>
    </div>
    <Form/>
</section>