---
import "../styles/mutual.css";
import Menu from "../components/Menu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="logo.svg" />
    <title>Arthur</title>
  </head>
  <body>
    <main>
      <Menu />
      <header id="landing">
        <div class="containerlanding">
          <h1></h1>
          <a class="scroll-down-button" href="#section">Scroll Down</a>
        </div>
      </header>

      <section id="fbp">
        <h2>Fascinated by people</h2>
        <p></p>
      </section>

      <div class="gallery">
        <div class="container">
          <img
            src="galleri1.webp"
            class="thumbnail"
            height="100"
            width="100"
            alt="Events"
          />
          <h2 class="thumbnail">events</h2>
          <div class="ps">
            <a href="01_introuge.html" class="galleriLink"><b>+</b></a>
          </div>
        </div>
        <div class="container">
          <img
            src="galleri2.webp"
            class="thumbnail"
            height="100"
            width="100"
            alt="Fashion"
          />
          <h2 class="thumbnail">fashion</h2>
          <div class="ps">
            <a href="02_web.html" class="galleriLink"><b>+</b></a>
          </div>
        </div>
        <div class="container">
          <img
            src="galleri3.webp"
            class="thumbnail"
            height="100"
            width="100"
            alt="Portraits"
          />
          <h2 class="thumbnail">portrait</h2>
          <div class="ps">
            <a href="03_ux.html" class="galleriLink"><b>+</b></a>
          </div>
        </div>
        <div class="container">
          <img
            src="galleri4.webp"
            class="thumbnail"
            height="100"
            width="100"
            alt="Wedding"
          />
          <h2 class="thumbnail">wedding</h2>
          <div class="ps">
            <a href="04_animation.html" class="galleriLink"><b>+</b></a>
          </div>
        </div>
      </div>
    </main>

    <script src="../scripts/script.js"></script>

    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #landing {
        height: 100vh;
        background-image: url(/public/landing.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        animation: fadeAnimation 15s linear infinite;
      }

      .containerlanding {
        text-align: center;
      }

      h1 {
        margin-bottom: 20px;
        color: #fff;
      }

      .scroll-down-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgba(53, 53, 53, 0.5);
        color: #ffffff;
        text-decoration: none;
        font-family: Overskrift;
        transition: background-color 0.3s ease;
        margin-bottom: 50px;
      }

      .scroll-down-button:hover {
        background-color: rgba(255, 255, 255, 0.8);
        font-family: Overskrift;
        color: black;
      }

      #fbp {
        margin-top: 3%;
        background-color: #fff;
        text-align: center;
      }
      .gallery {
        margin-top: 7%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: #fff;
        text-align: center;
      }
      h2 {
        font-family: Overskrift;
      }

      @keyframes fadeAnimation {
        0%,
        20% {
          opacity: 1;
        }
        25%,
        95% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        gap: 20%;
        padding-bottom: 10px;
      }
      .gallery img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .container {
        display: grid;
        place-items: center;
      }
      .container img,
      .container .ps,
      .container h2 {
        grid-area: 1/1;
        transition: 0.3s;
      }

      .container h2 {
        font-size: 50px;
        color: rgb(239, 239, 239);
        font-family: "Overskrift";
        font-weight: 500;
        place-items: center;
        text-align: center;
      }

      .container p {
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-family: sans-serif;
        font-weight: 500;
        place-self: center;
        text-align: center;
      }
      .container .ps {
        opacity: 0;
        z-index: 3;
      }
      .container img {
        opacity: 100%;
      }
      .container h2 {
        z-index: 3;
      }
      .container:hover h2 {
        opacity: 0;
      }
      .container:hover .ps {
        opacity: 1;
        display: block;
      }

      .container:hover img {
        transform: scale(1.1);
        opacity: 30%;
      }
    </style>
  </body>
</html>
