---
  const url = "https://fpatmzvjsoyfltjecggh.supabase.co/rest/v1/Portfolio?category=eq.fashion";
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwYXRtenZqc295Zmx0amVjZ2doIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODM4ODc4NzEsImV4cCI6MTk5OTQ2Mzg3MX0.Nk_wdVFUE-CfgNPXVtgKXArtNZkb_lJWZWDhM8DmgUw",
    },
  };
  const response = await fetch(url, options);
  const data = await response.json();

import "../styles/mutual.css";
import Mobilmenu from "../components/Mobilmenu.astro";
import Footer from "../components/Footer.astro";
import Category from "../components/Category.astro";
---
<Mobilmenu/>
<main>
  <div id="grid-container">
  <h1 id="category">Fashion</h1>
  {data.map((portfolio) => <Category image={`/${portfolio.image}`}/>)}
</div>
</main>
<Footer/>
