<footer>
  <div class="container">
    <div class="box1">
      <ul>
        <li><a href="contact.astro">Contact</a></li>
        <li><a href="about.astro">About</a></li>
        <li><a href="portfolio.astro">Portfolio</a></li>
        <li><a href="_blank">Terms & Conditions</a></li>
        <li><a href="_blank">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="box2">
      <p>© Arthur Aizikovich 2023</p>
      <p>All Rights Reserved</p>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/aaizikovichmedia"
        ><img class="icon" src="/facebook.svg" alt="Facebook icon" /></a
      >
      <a href="https://www.instagram.com/aaizikovich/"
        ><img class="icon" src="/instagram.svg" alt="instagram icon" /></a
      >
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(248, 248, 248);
  }
  li,
  p {
    font-family: "Tekst", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
  }
  p {
    font-size: 10px;
    line-height: 20px;
  }
  a {
    text-decoration: none;
    color: var(--brand-color);
  }
  footer {
    padding: 3rem;
    /*position: absolute;
    bottom: 0;
    margin-top: auto;*/
  }
  .box1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .box2 {
    text-align: center;
  }
  .icon {
    width: 30px;
    display: inline-block;
  }
  .icons {
    text-align: center;
    padding: 1rem;
  }

  @media (min-width: 500px) {
    footer {
      margin-top: 60px;
    }
  }
</style>
