<footer>
<div class="container">
    <div class="box1">
        <ul>
            <li>Contact</li>
            <li>About</li>
            <li>Portfolio</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
    <div class="box2">
        <p>Copyright © 2020 
        All Rights Reserved</p>
    </div>
</div>
</footer>

<style>
   li, p {
    font-family: "Tekst";
    font-size: 12px;
    text-transform: uppercase;
   }
</style>