---
import "../styles/mutual.css";
---

<div class="grid-container">
  <div class="container">
    <a href="events"><img src="/galleri1.webp" alt="events" /></a>
  </div>
  <div class="container">
    <a href="fashion"><img src="/galleri2.webp" alt="fashion" /></a>
  </div>
  <div class="container">
    <a href="portrait"><img src="/galleri3.webp" alt="portrait" /></a>
  </div>
  <div class="container">
    <a href="wedding"><img src="/galleri4.webp" alt="wedding" /></a>
  </div>
</div>

<style>
@media (min-width: 700px) {
    .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    align-content: center;
    max-width: 600px;
    gap: 10px;
  }
  img {
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
    .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    align-content: center;
    max-width: 400px;
  }

  img {
    width: 80px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

}


  a {
    text-decoration: none;
    color: var(--brand-color);
  }

  @media (max-width: 500px) {
    img {
      margin-top: 15px;
      margin-left: 10px;
    }
  }

  .container {
    margin: 20px;
  }
</style>
