---
import "../styles/mutual.css";
---


<div class="grid-container">
    <div class="container">
        <a href="events"><img src="/galleri1.webp" alt="events"></a>
        <div class="centered">Events</div>
    </div>
    <div class="container">
        <a href="fashion"><img src="/galleri2.webp" alt="fashion"></a>
        <div class="centered">Fashion</div>
    </div>
    <div class="container">
        <a href="portrait"><img src="/galleri3.webp" alt="portrait"></a>
        <div class="centered">Portrait</div>
    </div>
    <div class="container">
        <a href="wedding"><img src="/galleri4.webp" alt="wedding"></a>
        <div class="centered">Wedding</div>
    </div>
</div>

<style>
        .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        align-content: center;
        max-width: 600px;
        position: relative;
        overflow: hidden;
    } 

    .container img {
        transition: transform 0.3s ease;
    }

    .container img:hover {
        transform: scale(1.2);
    }
    

    .grid-container {
       justify-items: center; 
    }

    img {
        width: 200px;
        margin-bottom: 40px;
        margin-top: 40px;   
    }
    .container img {
        transform: 0.3s ease;
    }

     .container img:hover {
        transform: scale(1.2);
    }

    .container {
        position: relative;
        text-align: center; 
        color: #black;
        overflow: hidden;
    }

    .centered {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img:hover {
        opacity: 40%;
    }

    @media (max-width: 500px) {
        img {
            margin-top: 15px;
        }
    }
</style>